@font-face{
    font-family: 'Inter';
    src: url('../../assets/Inter-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url('../../assets/Inter-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

.product-card {
    color: #1D1F21;
    font-family: "Inter";
    border-radius: 12px;
    width: 350px;
    height: fit-content;
    max-height: 450px;
    gap: 16px;
    background-color: white;
    padding: 14px 14px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    align-self: center;
    justify-content: center;
}

.product-image {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.product-info-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: auto;
    margin: 0;
}

.product-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.product-price {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.product-sale{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.product-description {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}